body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*background-color: lightgreen;*/
  /*background-color: #defbde;*/
  /*background-color: #aad8aa;*/
  /*background-color: #cae0ca;*/
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 50px;
  /*background-color: #106710;*/
  background-color: #274227;
  width: 100%;
  top: 0;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
    color: white;

}

.nav_bar a:hover{
  color: cyan;
  }

.nav_bar .current{
  color: #34f634;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 25px;
  top: 12px;
  font-weight: 700;
  color: white;
}

.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:600px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);

}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
 .tab-group li a {
    display:block;
    text-decoration:none;
    background:rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size:20px;
    float:left;
    width:50%;
    height:40px;
    padding-top:10px;
    text-align:center;
    cursor:pointer;
  }

  .tab-group  li a:hover {
      background:#24896d;
      color:white;
    }
  
  .tab-group .active a {
      background:#1ab188;
    color:white;
  }
    
  /*.tab-content > div:last-child {
    display:none;
}*/


h1 {
  text-align:center;
  color:white;
  font-weight: 200;
  margin:0 0 40px;
}

label {
  position:absolute;
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  font-size:22px;
}

label.date .req{
    margin-left: 120px;
    display: inline-block;
  }

  label.req {
    margin:2px;
    color:#1ab188;
  }


label.active {
  left:2px;
  font-size:14px;
}

  label.req {
    opacity:0;
  }


label.highlight {
  color: white;
}

input {
  font-size:22px;
  display:block;
  width:95%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border: 1px solid #a0b3b0;
  color:white;
  border-radius:0;
}
  input:focus {
    outline:0;
    border-color:#1ab188;
  }

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.amount {
  height: 32px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
  }

  .top-row> div {
    float:left;
    width:47.5%;
    margin-right:2%;
  }
    .top-row:last-child { 
      margin:0;
    }
  
.button {
  margin:0 0 40px 0;
  font-size: 0;

}

 .button-block {
    display:inline-block;
    background:rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    width:49.6%;
    height:40px;
    text-align:center;
    cursor:pointer;
    font-size: 0;
  }
  
  
  .cancel {
      background:#a10b0b;
    color:white;
    font-size:20px;
}

  .cancel:hover {
      background:#591919;
      color:white;
    }

  .update{
    background:#1ab188 ;
        color:white;
        font-size:20px;

  }

  .update:hover {
      background:#24896d;
      color:white;
    }
    
  /*.tab-content > div:last-child {
    display:none;
}*/

.forgot {
  margin-top:-20px;
  text-align:right;
}


/*.tab-content > div:last-child {
  display:none;
}
*/

