body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 50px;
  background-color: #307c68;
  width: 100%;
  top: 0;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;

}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 25px;
  top: 12px;
  font-weight: 700;
  color: white;
}

.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:600px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);

}

h1 {
  text-align:center;
  color:white;
  font-weight: 200;
  margin:0 0 40px;
}

label {
  position:absolute;
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  font-size:22px;
}



label#date{
  margin-left: 120px;
  display: inline-block;
}



input[type=number]{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='85px'><text x='2' y='13' fill='gray' font-size='12' font-family='arial'>$</text></svg>");
  background-repeat: no-repeat;
}

input.expense-form{
  height: 33px;
  font-family: Times New Roman;

}


label.active {
  left:2px;
  font-size:14px;
  transform:translateY(45px);

}

input {
  font-size:22px;
  display:block;
  width:95%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border: 1px solid #a0b3b0;
  color:white;
  border-radius:0;
}
input:focus {
  outline:0;
  border-color:#1ab188;
}
#category{
  text-align: left;
  background-color: transparent;
  height: 45px;
}
.field-wrap {
  position:relative;
  margin-bottom:40px;
}

#amount {
  height: 32px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row> div {
  float:left;
  width:47.5%;
  margin-right:2%;
}
.top-row:last-child { 
  margin:0;
}

.category-wrap{
  border: 1px white;
  width: 99.2%;
  height: 40px;
}
.category-wrap select {
  width: 99.2%;
  margin-bottom: 15px;
  height: 40px;
  padding-left: 13px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-family: Times New Roman;
}

option{
  color: black;
}

option:first-child{
  display: none;
}

#category:focus {
  outline:0;
  border-color:#1ab188;
}

.button {
  margin:0 0 20px 0;
  font-size: 0;


}

.button-block {
  display:inline-block;
  background:rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  width:49.6%;
  height:40px;
  text-align:center;
  cursor:pointer;
  font-size: 0;
}


.cancel {
  background:#a10b0b;
  color:white;
  font-size:20px;
}

.cancel:hover {
  background:#841111;
  color:white;
}

.update{
  background: #307c68;
  color:white;
  font-size:20px;

}

.update:hover {
  background: #155544;
  color:white;
}

.hidden{
  display: none;
}


@media only screen and (max-width: 670px) {

.category-wrap select {
    width: 100%;
  }

}

@media only screen and (max-width: 595px) {

.button-block{
  width: 100%;
  display: block;
}
}


@media only screen and (max-width: 540px) {

.top-row>div {
    width: 100%;
    display: block;
    float: none;
  }

.button-block{
  width: 100%;
  display: block;
}
}

@media only screen and (max-width: 535px) {
  .category-wrap select {
    width: 101%;
  }
  .button-block{
    width: 101%;
  }
}

@media only screen and (max-width: 500px) {

.category-wrap select {
    width: 101%;
  }
}

@media only screen and (max-width: 440px) {

.category-wrap select {
    width: 102%;
  }
  .button-block{
    width: 102%;
  }
}

@media only screen and (max-width: 400px) {

.category-wrap select {
    width: 103%;
  }
  .button-block{
    width: 102%;
  }
}

@media only screen and (max-width: 375px) {

.category-wrap select {
    width: 104%;
  }
}

@media only screen and (max-width: 365px) {

.button-block{
    width: 103%;
  }
}

@media only screen and (max-width: 350px) {

.category-wrap select {
    width: 105%;
  }
}

@media only screen and (max-width: 330px) {

.button-block{
    width: 104%;
  }
}



@media only screen and (max-width: 315px) {

.category-wrap select {
    width: 106%;
  }
}