body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #aad8aa;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-color: #D0ECE7;
}
  
.menu{
  margin: 0;
  position: relative;
  top: 17px;
  clear: both;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: #155544;
  background-color: #307c68;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;
  font-size: 18px;
  padding-top: 50px;
  display: none;
}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
  text-decoration: none;
}

.nav_bar .menu-btn{
  display: none;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 30px;
  top: 9px;
  font-weight: 700;
  color: white;
  z-index: 1;
  text-decoration: none;
}

.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:600px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

h1 {
  text-align:center;
  color:white;
  font-weight: 200;
  margin:0 0 40px;
}

input[type=number]{
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='16px' width='85px'><text x='2' y='13' fill='gray' font-size='12' font-family='arial'>$</text></svg>");
  background-repeat: no-repeat;
}

input.expenses{
  height: 33px;
  font-family: Times New Roman;

}

input {
  font-size:22px;
  display:block;
  width:100%;
  background:none;
  background-image:none;
  border: 1px solid #a0b3b0;
  color:white;
  border-radius:0;
}

input:focus {
  outline:0;
  border-color:#1ab188;
}

.form-expense{
  margin-left: 1%;
  margin-right: 1%;
  padding-left: 4%;

}

#category{
  text-align: left;
  background-color: transparent;
  height: 35px;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

#amount {
  height: 31px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row> div {
  float:left;
  width:47.5%;
  margin-right:2%;
}

.top-row:last-child { 
  margin:0;
}

.category-wrap{
  border: 1px white;
  width: 100%;
  height: 40px;
}

.category-wrap select {
  width: 100%;
  margin-bottom: 15px;
  height: 40px;
  padding-left: 13px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 200;
  font-family: Times New Roman;
}

#description{
  width: 95.6%;
  padding-left: 4%;
}

option{
  color: black;
}

option:first-child{
  display: none;
}

#category:focus {
  outline:0;
  border-color:#1ab188;
}

.button {
  margin:0 0 20px 0;
  font-size: 0;
}

.button-block {
  display:inline-block;
  background:rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  width:49.5%;
  height:40px;
  text-align:center;
  cursor:pointer;
  font-size: 0;
}

.cancel {
  background:#a10b0b;
  color:white;
  font-size:20px;
}

.cancel:hover {
  background:#841111;
  color:white;
}

.update{
  background: #307c68;
  color:white;
  font-size:20px;

}

.update:hover {
  background: #155544;
  color:white;
}

.hidden{
  display: none;
}


@media only screen and (max-width: 1050px) {
  .nav_bar .menu-icon {
    display: block;
  }

  .nav_bar .menu-btn{
    display: block;
  }

  .nav_bar {
    background-color: #307c68;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    text-align: center;
    padding-left: 2%;
  }

  .nav_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    width: 250px;
    text-align: center;
  }
  
  .nav_bar ul li{
    display: block;
  }

  .nav_bar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #307c68;
    width: 100%;
  }

  .nav_bar li a:hover {
    background-color: #f4f4f4;
  }
   
  .nav_bar .current {
    display: block;
    font-size: 2em;
    padding: 0 20px;
    text-decoration: none;
  }

  .nav_bar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    float: right;
  }
   .nav_bar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 110px;
    position: relative;
    user-select: none;
    display: none;
  }

  .nav_bar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .nav_bar .menu-icon .navicon:before,
  .nav_bar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .nav_bar .menu-icon .navicon:before {
    top: 5px;
  }

  .nav_bar .menu-icon .navicon:after {
    top: -5px;
  }

  .nav_bar .menu-btn {
    display: none;
  }

  .nav_bar .menu-btn:checked ~ .menu {
  max-height: 300px;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

@media only screen and (max-width: 670px) {
  .category-wrap select {
      width: 100%;
    }
}

@media only screen and (max-width: 600px) {
  .top-row > div {
      width: 100%;
      display: block;
      float: none;
    }

  .button-block{
    width: 100%;
    display: block;
    }

  .form-expense{
    width: 95.5%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  #app-name{
    left: 15px;
  }
}

@media only screen and (max-width: 330px) {
  .nav_bar .menu-icon {
    padding: 24px 50px;
  }

  #app-name{
    left: 15px;
  }

  .nav_bar ul {
    width: 275px;
  }
}
