body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #cae0ca;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.25;
}

.menu{
  margin: 0;
  position: relative;
  top: -4px;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: #155544;
  background-color: #307c68;
  width: 100%;
  top: 0;
  z-index: 1;
  /*font-size: 22px;*/
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;
  font-size: 18px;
  /*top: 10px;*/
}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
  text-decoration: none;
}

  .nav_bar .menu-btn{
    display: none;
  }

  #app-name{
    width: 100px;
    position: absolute;
    left: 75px;
    font-size: 30px;
    top: 9px;
    font-weight: 700;
    color: white;
    text-decoration: none;
  }

.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:600px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
}

.heading{
  text-align: center;
}

.amount-spent h1 {
  text-align:center;
  color:orange;
  font-weight: 200;
  margin:0;
}

.expense-amount{
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

.bar-group{
  padding: 0;
}

.savings-bar{
  margin: 80px auto;
  display: inline-block;
  width: 100%; 
  font-size: 0;
  padding-left: 0;

}

.bar{
  display: inline-block;
  width: 24%;
  border:1px solid white;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  padding-left: 0;
}

.safe{
  background-color: #307c68; 
  text-align: center;
  height: 40px;

}

.still-safe{
  background-color: #cccc1d;
  height: 40px;


}

.near-danger{
  background-color: orange;
  height: 40px;
}

.danger{
  background-color: #a10b0b;
  padding:7px;
  height: 45.5px;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

label {
  position:absolute;
  left: 170px;
  color:rgba(255, 255, 255, 0.5);
  padding: 4px;
  font-size:22px;
}


label.highlight {
  color: white;
}

input {
  font-size:22px;
  display:block;
  height:100%;
  /*padding:5px 10px;*/
  background:none;
  border: 1px solid #a0b3b0;
  color:white;
  border-radius:0;
  margin: 0 auto;

}
input:focus {
  outline:0;
  border-color:#1ab188;
}


input {
  border:2px solid rgb(160, 179, 176);;
  resize: vertical;

}

@media only screen and (max-width: 1050px) {

  .nav_bar .menu-icon {
  display: block;
  }

  .nav_bar .menu-btn{
    display: block;
  }


.nav_bar {
background-color: #307c68;
box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
position: fixed;
width: 100%;
z-index: 3;
text-align: center;
padding-left: 2%;
}

.nav_bar ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: #fff;
width: 250px;
text-align: center;

}

.nav_bar ul li{
  display: block;
}

.nav_bar li a {
display: block;
padding: 20px 20px;
border-right: 1px solid #f4f4f4;
text-decoration: none;
color: #307c68;
width: 100%;
}

.nav_bar li a:hover {
background-color: #f4f4f4;
}
 
.nav_bar .current {
display: block;
float: left;
font-size: 2em;
padding: 0 20px;
text-decoration: none;
color: white;
}

.nav_bar .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-out;
}
 .nav_bar .menu-icon {
cursor: pointer;
display: inline-block;
/*float: right;*/
padding: 24px 20px;
position: relative;
user-select: none;
}

.nav_bar .menu-icon .navicon {
background: white;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.nav_bar .menu-icon .navicon:before,
.nav_bar .menu-icon .navicon:after {
background: white;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.nav_bar .menu-icon .navicon:before {
top: 5px;
}

.nav_bar .menu-icon .navicon:after {
top: -5px;
}
 .nav_bar .menu-btn {
display: none;
}

.nav_bar .menu-btn:checked ~ .menu {
max-height: 300px;
}

.nav_bar .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.nav_bar .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.nav_bar .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
top: 0;
}

}

/*label{
  margin-left: 2%;
}*/



/*@media only screen and (max-width: 700px) {
  label{
    left: 160px;
  }
}

@media only screen and (max-width: 690px) {
  label{
    left: 150px;
  }

  .expense-amount{
    width:500px;
  }
}

@media only screen and (max-width: 680px) {
  label{
    left: 145px;
  }
}

@media only screen and (max-width: 670px) {
  label{
    left: 140px;
  }
}

@media only screen and (max-width: 660px) {
  label{
    left: 135px;
  }
}

@media only screen and (max-width: 650px) {
  label{
    left: 130px;
  }
}


@media only screen and (max-width: 645px) {
  .bar{
    width: 23.90%;
  }
  label{
    left: 130px;
  }
}

  @media only screen and (max-width: 640px) {
  .bar{
    width: 23.98%;
  }
  label{
    left: 125px;
  }
}

@media only screen and (max-width: 635px) {
  .bar{
    width: 23.97%;
  }
  label{
    left: 125px;
  }
}
  
@media only screen and (max-width: 629px) {
  .bar{
    width: 23.96%;
  }
  label{
    left: 125px;
  }
}
@media only screen and (max-width: 625px) {
  .bar{
    width: 23.95%;
  }
  label{
    left: 120px;
  }
}
@media only screen and (max-width: 620px) {
  .bar{
    width: 23.94%;
  }
  label{
    left: 120px;
  }
}
@media only screen and (max-width: 615px) {
  .bar{
    width: 23.93%;
  }
  label{
    left: 115px;
  }
}

  @media only screen and (max-width: 610px) {
  .bar{
    width: 23.92%;
  }
  label{
    left: 115px;
  }
}

  @media only screen and (max-width: 605px) {
  .bar{
    width: 23.91%;
  }
  label{
    left: 110px;
  }
}
  @media only screen and (max-width: 600px) {
  .bar{
    width: 23.90%;
  }
  label{
    left: 110px;
  }
}

@media only screen and (max-width: 596px) {
  .bar{
    width: 23.89%;
  }
  label{
    left: 105px;
  }
}

@media only screen and (max-width: 591px) {
  .bar{
    width: 23.86%;
  }
  label{
    left: 105px;
  }
}

@media only screen and (max-width: 586px) {
  .bar{
    width: 23.86%;
  }
  label{
    left: 100px;
  }
 .expense-amount{
  width: 450px;
 }
}

@media only screen and (max-width: 583px) {
  .bar{
    width: 23.84%;
  }
label{
    left: 100px;
  }
}

@media only screen and (max-width: 574px) {
  .bar{
    width: 23.84%;
  }
  label{
    left: 95px;
  }
}

@media only screen and (max-width: 570px) {
  .bar{
    width: 23.83%;
  }
  label{
    left: 95px;
  }
}

@media only screen and (max-width: 566px) {
  .bar{
    width: 23.82%;
  }
  label{
    left: 95px;
  }
}

@media only screen and (max-width: 562px) {
  .bar{
    width: 23.81%;
  }
 label{
    left: 90px;
  }
@media only screen and (max-width: 558px) {
  .bar{
    width: 23.80%;
  }
  label{
    left: 90px;
  }
}

@media only screen and (max-width: 554px) {
  .bar{
    width: 23.79%;
  }
  label{
    left: 85px;
  }
}

@media only screen and (max-width: 550px) {
  .bar{
    width: 23.78%;
  }
  label{
    left: 85px;
  }
}

@media only screen and (max-width: 547px) {
  .bar{
    width: 23.77%;
  }
  label{
    left: 80px;
  }
}


@media only screen and (max-width: 543px) {
  .bar{
    width: 23.76%;
  }
  label{
    left: 80px;
  }
}


@media only screen and (max-width: 542px) {
  .bar{
    width: 100%;
    display: block;
  }

  label{
    left: 80px;
  }

  .danger{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;

  }

  .expense-amount{
    width: 400px;
  }

}

@media only screen and (max-width: 539px) {
  label{
    left: 75px;
  }
}

@media only screen and (max-width: 535px) {
  label{
    left: 75px;
  }
}

@media only screen and (max-width: 530px) {
  label{
    left: 70px;
  }
}

@media only screen and (max-width: 525px) {
  label{
    left: 70px;
  }
}

@media only screen and (max-width: 520px) {
  label{
    left: 70px;
  }
}

@media only screen and (max-width: 515px) {
  label{
    left: 65px;
  }
}

@media only screen and (max-width: 510px) {
  label{
    left: 65px;
  }
}

@media only screen and (max-width: 505px) {
  label{
    left: 60px;
  }
}

@media only screen and (max-width: 500px) {
  label{
    left: 55px;
  }
}


@media only screen and (max-width: 495px) {
  label{
    left: 55px;
  }
  .expense-amount{
    width: 300px;
  }
}

@media only screen and (max-width: 490px) {
  label{
    left: 55px;
  }
}


@media only screen and (max-width: 485px) {
  label{
    left: 50px;
  }
}

@media only screen and (max-width: 480px) {
  label{
    left: 50px;
  }
}

@media only screen and (max-width: 475px) {
  label{
    left: 50px;
  }
}

@media only screen and (max-width: 470px) {
  label{
    left: 50px;
  }
}

@media only screen and (max-width: 465px) {
  label{
    left: 45px;
  }
}

@media only screen and (max-width: 460px) {
  label{
    left: 45px;
  }
}

@media only screen and (max-width: 455px) {
  label{
    left: 45px;
  }
}

@media only screen and (max-width: 450px) {
  label{
    left: 40px;
  }
}

@media only screen and (max-width: 445px) {
  label{
    left: 35px;
  }
}

@media only screen and (max-width: 440px) {
  label{
    left: 30px;
  }
}

@media only screen and (max-width: 435px) {
  label{
    left: 30px;
  }
}

@media only screen and (max-width: 430px) {
  label{
    left: 25px;
  }
}

@media only screen and (max-width: 425px) {
  label{
    left: 25px;
  }
}

@media only screen and (max-width: 420px) {
  label{
    left: 20px;
  }
}

@media only screen and (max-width: 415px) {
  label{
    left: 15px;
  }
}

@media only screen and (max-width: 410px) {
  label{
    left: 15px;
  }
}

@media only screen and (max-width: 405px) {
  label{
    left: 10px;
  }
}

@media only screen and (max-width: 395px) {
  label{
    left: 10px;
  }
}

@media only screen and (max-width: 390px) {
  label{
    left: 10px;
  }
}

@media only screen and (max-width: 385px) {
  label{
    left: 10px;
  }
}

@media only screen and (max-width: 380px) {
  label{
    left: 35px;
  }
  .container{
    padding:40px 0;
}
}


@media only screen and (max-width: 375px) {
  label{
    left: 35px;
  }
}

@media only screen and (max-width: 370px) {
  label{
    left: 35px;
  }
}

@media only screen and (max-width: 365px) {
  label{
    left: 30px;
  }
}

@media only screen and (max-width: 360px) {
  label{
    left: 30px;
  }
}

@media only screen and (max-width: 355px) {
  label{
    left: 30px;
  }
}

@media only screen and (max-width: 350px) {
  label{
    left: 20px;
  }
}

@media only screen and (max-width: 345px) {
  label{
    left: 20px;
  }
}

@media only screen and (max-width: 340px) {
  label{
    left: 15px;
  }
}

@media only screen and (max-width: 335px) {
  label{
    left: 15px;
  }
}

@media only screen and (max-width: 330px) {
  label{
    left: 15px;
  }
}

@media only screen and (max-width: 325px) {
  label{
    left: 15px;
  }
}

@media only screen and (max-width: 320px) {
  label{
    left: 10px;
  }
}
*/

@media only screen and (max-width: 620px) {
  label{
   left: 8%;
   padding: 2px;
   position: absolute;
  }

}

@media only screen and (max-width: 615px) {
  label{
   left: 6%;
  }

}

@media only screen and (max-width: 559px) {
  label{
   left: 60px;
  }

}


























