body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-color: #D0ECE7;
}

.menu{
  margin: 0;
  position: relative;
  top: 17px;
  clear: both;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: #307c68;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;
  font-size: 18px;
  padding-top: 50px;
  display: none;
}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
  text-decoration: none;
}

.nav_bar .menu-btn{
  display: none;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 30px;
  top: 9px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  z-index: 1;
}

.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:600px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
  color:white;
}

.heading{
  text-align: center;
}

.amount-spent h1 {
  text-align:center;
  font-weight: 200;
  margin:0;
}

.expense-amount{
  text-align: center;
  margin: 0 auto;
  width: 600px;
}

.bar-group{
  padding: 0;
}

.savings-bar{
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 3%;
  display: inline-block;
  width: 100%; 
  font-size: 0;
  padding-left: 0;
}

.bar{
  display: inline-block;
  width: 22%;
  border:3px solid white;
  padding-top: 20px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  padding-left: 0;
}

.safe{
  background-color: #307c68; 
  text-align: center;
  height: 40px;
}

.still-safe{
  background-color: #cccc1d;
  height: 40px;
}

.near-danger{
  background-color: orange;
  height: 40px;
  padding-top: 10.3px;
  padding-bottom: 10px;
}

.danger{
  background-color: #a10b0b;
  padding:7.45px;
  height: 45.36px;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

table{
  border: 1px solid white;
  margin: 0 auto;
}

td{
  border: 1px solid white;
  font-size: 22px;
}

@media only screen and (max-width: 1050px) {
  .nav_bar .menu-icon {
    display: block;
  }

  .nav_bar .menu-btn{
    display: block;
  }

  .nav_bar {
    background-color: #307c68;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    text-align: center;
    padding-left: 2%;
  }

  .nav_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    width: 250px;
    text-align: center;
}

  .nav_bar ul li{
    display: block;
  }

  .nav_bar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #307c68;
    width: 100%;
  }

  .nav_bar li a:hover {
    background-color: #f4f4f4;
  }
 
  .nav_bar .current {
    display: block;
    font-size: 2em;
    padding: 0 20px;
    text-decoration: none;
  }

  .nav_bar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    float: right;
  }

 .nav_bar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 110px;
    position: relative;
    user-select: none;
  }

  .nav_bar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .nav_bar .menu-icon .navicon:before,
  .nav_bar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .nav_bar .menu-icon .navicon:before {
    top: 5px;
  }

  .nav_bar .menu-icon .navicon:after {
    top: -5px;
  }
 .nav_bar .menu-btn {
    display: none;
  }

  .nav_bar .menu-btn:checked ~ .menu {
    max-height: 300px;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .expense-amount{
    width: 275px;
  }
}

@media only screen and (max-width: 542px) {
  .bar{
    width: 95%;
    display: block;
  }

  .danger{
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
  }

  .container{
    padding-left: 8%;
  }
}

@media only screen and (max-width: 400px) {
  #app-name{
    left: 15px;
  }
}

@media only screen and (max-width: 380px) {
  .container{
    padding-left: 9%;
  }
}

@media only screen and (max-width: 330px) {
  .nav_bar .menu-icon {
    padding: 24px 50px;
  }

  #app-name{
    left: 15px;
  }

  .nav_bar ul {
    width: 275px;
  }
}

