
.black-cover{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background-color:rgba(0, 0, 0, 0.5);
}

.modal{
  background-color:white;
  width: 60%;
  margin: 100px auto;
}

.hidden{
  display:none;
}






body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 50px;
  background-color: #307c68;
  width: 100%;
  top: 0;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;

}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 25px;
  top: 12px;
  font-weight: 700;
  color: white;
}

.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:1200px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
}


.month{
  width: 58%;
  display: inline-block;
}

.top-row {
  color: white;
  padding: 0 4% 2%;
}

#history h1{
  /*width: 100%;*/
  display: inline-block;
  /*border: 1px solid red;*/
  /*margin: 0 80px;*/
}

.switch-month{
  /*padding: 0 2%;*/
  margin: 0 7.62%;
}

/*#month{
  margin: 0 100px;
}*/

.monthly-expenses{
  width: 49.7%;
  display: inline-block;
  /*border: 1px solid blue;*/
}

/*#monthly-expenses h1{
  display: inline-block;
}


#month{
  float: right;
  display: inline-block;
}*/

/*h1 {
  text-align: left;
  color: #62a795;
  color: #f89a84;
  font-weight:900;
  margin:0 0 40px;
}*/
.field-wrap label {
  position:absolute;
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  font-size:22px;
}

input {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border: 1px solid #a0b3b0;
  color:white;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}
input:focus {
  outline:0;
  border-color:#1ab188;
}

input {
  border:2px solid rgb(160, 179, 176);;
  resize: vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.button {
  border:0;
  outline:none;
  border-radius:0;
  padding:15px 0;
  font-size:2rem;
  font-weight:900;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#1ab188;
  color: white;
}
button:hover, button:focus {
  background:#1ab188;
}


.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

.tab-content > div:last-child {
  display:none;
}




.field-wrap label {
  position:absolute;
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  font-size:22px;
}

input {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid rgb(160, 179, 176);;
  color:white;
  border-radius:0;
}
input:focus {
  outline:0;
  border-color:#1ab188;
}
}

input {
  border:2px solid rgb(160, 179, 176);;
  resize: vertical;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
/*table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}*/
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: 20px;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  /*table caption {
    font-size: 1.3em;
  }*/
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    /*padding: 0;*/
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-html-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
/*.field-wrap {
  position:relative;
  margin-bottom:40px;
}
*/



/*.expense-details{
  width:1200px;
  font-size:15px;
}

div.date{
  width: 25%;
  display: inline-block;
  margin:2% 0;

}

div.amount{
  width: 16%;
  display: inline-block;
  margin: 2% auto;
}

div.category{
  width: 16%;
  display: inline-block;
  margin: 2% auto;
}

div.description{
  width: 16%;
  display: inline-block;
  margin: 2% 5%;
}
*/
button{
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
}

button.edit{
  width: 60px;
  background-color: #307c68;
  color: white;
}

button.delete{
  background-color: #a10b0b;
  color: white;
}

.edit:focus{
  background-color: #155544;
}

.delete:focus{
  background-color: #841111;
}

/*@media only screen and (max-width: 1285px) {
  button{
  margin-left: 20px;
}*/

/*@media only screen and (max-width: 1280px) {
  .switch-month{

  margin: 0 4.62%;
}
}

@media only screen and (max-width: 1125px) {

.switch-month{
  margin: 0 3.62%;
}
}

@media only screen and (max-width: 1007px) {

.switch-month{
  margin: 0 auto;
  display: block;
}
}

*/

/*@media only screen and (max-width: 1275px) {
  button{
  margin-left: 18px;
}*/

/*@media only screen and (max-width: 1050px) {
  .container{
    margin: 0 auto;
    width: 100%;
    padding: 2%;
  }
*/