
.black-cover{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(19, 35, 47, 0.9);
}

.modal{
  background-color: #10192A;
  width: 40%;
  margin: 125px auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

#modal-form{
  padding-left: 40px;
  padding-right: 40px;
  font-size: 0;
  margin: 0 auto;
}

.hidden{
  display:none;
}

body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-color: #D0ECE7;
}

.menu{
  margin: 0;
  position: relative;
  top: -4px;
  /*clear: both;*/
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: #155544;
  background-color: #307c68;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;
  font-size: 18px;
  padding-top: 50px;
  display: none;
}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
  text-decoration: none;
}

.nav_bar .menu-btn{
    display: none;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 30px;
  top: 9px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  z-index: 1;
}


.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:1200px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.month{
  width: 58%;
  display: inline-block;
}

.top-row {
  color: white;
  padding: 0 4% 2%;
}

#history h1{
 display: inline-block;
}

.switch-month{
  margin: 0 7.62%;
}

.monthly-expenses{
  width: 49.7%;
  display: inline-block;
}

.field-wrap label {
  position:absolute;
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  font-size:22px;
}

input {
  font-size:22px;
  display:block;
  width:50%;
  height:100%;
  margin: 0 auto;
  padding:10px 10px;
  background:none;
  background-image:none;
  border: 2px solid rgb(160, 179, 176);
  color:white;
  border-radius:0;
}

input:focus {
  outline:0;
  border-color:#1ab188;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.expense-form{
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

#category{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  height: 48px;
  font-size: 22px;
  text-align: center;
  width: 53.8%;
  border: 2px solid rgb(160, 179, 176);
  margin-left: 23%;
  margin-right: 23%;
  padding-left: 1%;
}

option{
  color: black;
}

option:first-child{
  display: none;
}

#category:focus {
  outline:0;
  border-color:#1ab188;
}

.save:hover, .save:focus {
  background:#1ab188;
}

.button-block {
  display:inline-block;
  background:rgba(160, 179, 176, 0.25);
  color: white;
  width:48%;
  height:40px;
  text-align:center;
  cursor:pointer;
  font-size: 0;
  margin-left: 1%;
  margin-right: 1%;
}

.save{
   background-color:#1ab188;
   border: 2px solid #D0CFCF;
   vertical-align: middle;
   padding-top: 6px;
   font-size: 20px;
}

.cancel {
  background:#a10b0b;
  vertical-align: middle;
  /*margin-top: 1%;*/
  font-size: 20px;
}

.cancel:hover {
  background:#841111;
  color:white;
}

.tab-content > div:last-child {
  display:none;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: 20px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

table td{
  font-size: 20px;
}

.button{
  /*display: inline-block;*/
  /*font-size: 16px;*/
  /*padding-top: 0.2%;
  margin-left: 1.5%;*/
}

button.edit{
  width: 60px;
  background-color: #307c68;
  color: white;
  font-size: 20px;
}

button.delete{
  background-color: #a10b0b;
  color: white;
  font-size: 20px;
}

.edit:focus{
  background-color: #155544;
}

.delete:focus{
  background-color: #841111;
}

@media only screen and (max-width: 1370px) {
  #category{
    width: 55%;
    margin-left: 22.5%;
    margin-right: 22.5%;
  }
}

@media only screen and (max-width: 1280px) {
  .switch-month{

  margin: 0 4.62%;
  }
}

@media only screen and (max-width: 1125px) {
  .switch-month{
    margin: 0 3.62%;
  }
}


@media only screen and (max-width: 1050px) {
  .nav_bar .menu-icon {
    display: block;
  }

  .nav_bar .menu-btn{
    display: block;
  }

  .nav_bar {
    background-color: #307c68;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    text-align: center;
    padding-left: 2%;
  }

  .nav_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    width: 250px;
    text-align: center;
  }

  .nav_bar ul li{
    display: block;
  }

  .nav_bar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #307c68;
    width: 100%;
  }

  .nav_bar li a:hover {
    background-color: #f4f4f4;
  }
   
  .nav_bar .current {
    display: block;
    font-size: 2em;
    padding: 0 20px;
    text-decoration: none;
  }

  .nav_bar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    float: right;
  }
  
  .nav_bar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 110px;
    position: relative;
    user-select: none;
    display: none;

  }

  .nav_bar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .nav_bar .menu-icon .navicon:before,
  .nav_bar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .nav_bar .menu-icon .navicon:before {
    top: 5px;
  }

  .nav_bar .menu-icon .navicon:after {
    top: -5px;
  }
  .nav_bar .menu-btn {
    display: none;
  }

  .nav_bar .menu-btn:checked ~ .menu {
    max-height: 300px;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  #category{
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
}

@media only screen and (max-width: 1007px) {
  .monthly-expenses{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 100%;
  }

  .month{
  width: 35%;
  }

  input{
      width: 78%;
    }

}

@media only screen and (max-width: 930px) {
 table th{
  font-size: 15px;
  }
}

@media only screen and (max-width: 880px) {
  .modal{
    width: 80%;
  }

  input{
    width: 75%;
  }

  #category{
    width: 79%;
    margin-left: 10.5%;
    margin-right: 10.5%;
  }
}

@media only screen and (max-width: 730px) {
  #month{
    display: block;
    width: 80%;
    margin: 2% auto;
  }

  table{
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
  
@media only screen and (max-width: 690px) {
  #category{
    width: 80%;
  }
}

@media only screen and (max-width: 470px) {
  #month{
    width: 91%;
  }
}

@media only screen and (max-width: 400px) {
  #app-name{
    left: 15px;
  }
}

@media only screen and (max-width: 330px) {
  .nav_bar .menu-icon {
    padding: 24px 50px;
  }

  #app-name{
    left: 15px;
  }

  .nav_bar ul {
    width: 275px;
  }
}