body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #aad8aa;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 50px;
  background-color: #155544;
  background-color: #307c68;
  width: 100%;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;
}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
}

/*.nav_bar .dropdown {
  display: none;
  }*/

  #app-name{
    width: 100px;
    position: absolute;
    left: 75px;
    font-size: 25px;
    top: 12px;
    font-weight: 700;
    color: white;
  }

  .container{
    height: 400px;
  }

  .intro{
    padding-top:8%;
    text-align: center;
  }

  .tab-group {
    list-style:none;
    text-align: center;
    height:20px;
  }

  .tab-group li a{
    text-decoration:none;
    background: #307c68;
    color: white;
    font-size:18px;
    text-align:center;
    cursor:pointer;
    padding: 3px 20px;
    border: 3px solid #526e52;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
  }

  .tab-group li a:hover {
    background:#24896d;
    color:white;
    width: 3%;
    text-align: center;
  }

  .tab{
    display: inline-block;
  }

  .signup{
    margin: 0 1%;
    vertical-align: middle;
  }

  .login{
    vertical-align: middle;

  }



  .options{
    background-image: url("http://www.creativeglassshop.co.uk/userfiles/productlargeimages/product_2717.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:450px;
    font-size: 14px;
    text-align: center;
  }

  .pic{
    padding-left: 7%;
    padding-top: 40%;
    color: white;
  }

  .budget{
    height: 490px;
    padding-top: 3%; 
  }

  .monthly-budget{
    padding-left:5%;
    float: left;
    width: 40%;
  }

  .intro-two{
   float: right;
   width: 50%;
   text-align: center;
   margin: 7% auto;
 }

 span#budget{
  display: block;
}

.expenses{
  background-image: url("http://www.creativeglassshop.co.uk/userfiles/productlargeimages/product_2717.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 445px;
  padding-top: 3%;
}

span#expenses{
  display: block;
}

.monthly-expenses{
  padding-left:5%;
  float: left;
  width: 40%;
  padding-top: 0.25%;
}

.intro-four{
  float: right;
  width: 50%;
  text-align: center;
  margin: 7% auto;
}

.intro-three{
 float: right;
 width: 50%;
 text-align: center;
 margin: 7% auto;
}

.add-expenses{
  height: 500px;
  padding-top: 3%;
  border: 2px solid black;
}

.add-monthly{
  padding-left:5%;
  float: left;
  width: 40%;
}

.intro-five{
 float: right;
 width: 50%;
 text-align: center;
 margin: 7% auto;
}

span#add-expenses{
  display: block;
}

.footer{
  height: 50px;
  background-color:#267e67;

}

@media only screen and (max-width: 1050px) {
  .intro{
    padding-top: 12%;
  }
  .monthly-budget{
    padding-top: 0.5%;
  }

  .monthly-expenses{
    padding-top: 1.5%;
  }

  .intro-four{
    width: 36%;
    padding-top: 5%;
  }

  .add-expenses{
    padding-top: 4%;
  }

  .intro-five{
    width: 36%;
    padding-top: 5%;

  }
  
}

@media only screen and (max-width: 800px) {
  .intro{
    padding-top: 15%;
  }

  .budget{
    height: 500px;
  }
  .monthly-budget{
    padding-top: 1.5%;
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-bottom: 1%;
  }


  .intro-two{
    float: none;
    display: inline;
    text-align: center;
  } 

  span#budget{
    display: inline;
  }

  

  .expenses{
    height: 470px;
  }

  .monthly-expenses{
    padding-left: 12%;
    padding-top: 3%;
    width: 100%;
    padding-bottom: 1%;

  }
  .intro-four{
    float: none;
    display: inline;
    text-align: center;
  }

  span#expenses{
    display: inline;
  }

  .add-expenses{
    height: 500px;
  }

  .add-monthly{
    width: 100%;
    padding-left: 0;
    text-align: center;
    padding-bottom: 1%;
    /*float: none;*/
  }

  .intro-five{
    float: none;
    display: inline;
    text-align: center;
  }

  span#add-expenses{
    display: inline;
  }

  /*.nav_bar .dropdown {
    display: block !important;
}

.nav_bar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
*/
/* Dropdown content (hidden by default) */
/*.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

*//* Links inside the dropdown */
/*.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
*/
/* Add a grey background color to dropdown links on hover */
/*.dropdown-content a:hover {
  background-color: #ddd;
}
*/
/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
  display: block;
}

}*/