body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #aad8aa;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-color: #D0ECE7;
}
  
.menu{
  margin: 0;
  position: relative;
  top: 17px;
  clear: both;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: #307c68;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;
  font-size: 18px;
  padding-top: 50px;
  display: none;
}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
  text-decoration: none;
}

.nav_bar .menu-btn{
  display: none;
}

#app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 30px;
  top: 9px;
  font-weight: 700;
  color: white;
  z-index: 1;
}

.container{
  padding: 9%;
}

.intro{
  text-align: center;
}

.tab-group {
  list-style:none;
  text-align: center;
  height:20px;
}

.tab-group li a{
  text-decoration:none;
  background: #307c68;
  color: white;
  font-size:18px;
  text-align:center;
  cursor:pointer;
  padding: 3px 20px;
  border: 3px solid #526e52;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.tab-group li a:hover {
  background:#24896d;
  color:white;
  width: 3%;
  text-align: center;
}

.tab{
  display: inline-block;
}

.signup{
  margin: 0 1%;
  vertical-align: middle;
}

.options{
  background-image: url("http://www.creativeglassshop.co.uk/userfiles/productlargeimages/product_2717.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  text-align: center;
  padding: 7%;
}

.pic{
  width: 100%;
}

.options-image{
  width: 40%;
}

.budgeting-pages{
  padding: 50px; 
}

.budget-options-pages{
  float: left;
  width: 55%;
}

.budget-page-image{
  width: 90%;
  margin: 0 5%;
}

.pages-intro{
  float: right;
  width: 45%;
  text-align: center;
  position: relative;
}

.intro-one{
  margin: 7% auto;
}
.intro-three{
  margin: 12.5% auto;
}
span.budget{
  display: block;
}

.clear{
  clear:both;
}

.expenses{
  background-image: url("http://www.creativeglassshop.co.uk/userfiles/productlargeimages/product_2717.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.expense-image{
  width: 90%;
  margin: 0 5%;
}

span#expenses{
  display: block;
}

.monthly-expenses{
  float: right;
  width: 55%;
  height: 100%;
  padding-top: 0.25%;
}

.intro-two{
  margin: 5.7% auto;
}

span#add-expenses{
  display: block;
}

footer{
  text-align: center;
  margin: 5px;
  padding: 12px;
  background-color: #0e9aef;
  margin: 0 auto;
  color: white;
  height: 50px;
  background-color:#267e67;
}

footer a{
  font-size: 15px;
  font-weight: 900;
  color: rgb(255, 255, 255);
}

footer a:hover{
  color: rgb(0, 0, 163);
}


@media only screen and (max-width: 1050px) {
  #signup{
    display: none;
  }

  .nav_bar .menu-icon {
    display: block;
  }

  .nav_bar .menu-btn{
    display: block;
  }

  .nav_bar {
    background-color: #307c68;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    text-align: center;
    padding-left: 2%;
  }

  .nav_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    width: 250px;
    text-align: center;
  }
  
  .nav_bar ul li{
    display: block;
  }

  .nav_bar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #307c68;
    width: 100%;
  }

  .nav_bar li a:hover {
    background-color: #f4f4f4;
  }
   
  .nav_bar .current {
    display: block;
    font-size: 2em;
    padding: 0 20px;
    text-decoration: none;
    color: white;
  }

  .nav_bar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    float: right;
  }
   .nav_bar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 110px;
    position: relative;
    user-select: none;
    display: none;
  }

  .nav_bar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .nav_bar .menu-icon .navicon:before,
  .nav_bar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .nav_bar .menu-icon .navicon:before {
    top: 5px;
  }

  .nav_bar .menu-icon .navicon:after {
    top: -5px;
  }

  .nav_bar .menu-btn {
    display: none;
  }

  .nav_bar .menu-btn:checked ~ .menu {
  max-height: 300px;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .pages-layout{
    width: 100%;
    float: none;
  }

  .pages-info{
      float: none;
      width: 100%;
      margin: 0;
    }
  }

@media only screen and (max-width: 800px) {
  .intro h1{
    padding: 8%;
  }
}

@media only screen and (max-width: 470px) {
  .budget-page-image{
    height: auto;
  }

  .expense-image{
    height: auto;
  } 
}

@media only screen and (max-width: 400px) {
  #app-name{
    left: 15px;
  }
}

@media only screen and (max-width: 330px) {
  .nav_bar .menu-icon {
    padding: 24px 50px;
  }

  #app-name{
    left: 15px;
  }

  .nav_bar ul {
    width: 275px;
  }
}

@media only screen and (max-width: 300px) {
  ul.tab-group{
    padding: 0;
  }
}
  
