.demo-login{
  color: white;
}
h2{
  color: white;
  text-align: center;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #aad8aa;
  background-image: url("https://image.freepik.com/free-photo/defocused-blue-lights-abstract-background-natural-photo-bokeh_1421-480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  background-color: #D0ECE7;
}

.menu{
  margin: 0;
  position: relative;
  top: 17px;
  clear: both;
}

nav {
  box-sizing: border-box;
  text-align: right;
  position: fixed;
  height: 60px;
  background-color: #307c68;
  width: 100%;
  top: 0;
  z-index: 1;
}

nav ul li{
  display: inline-block;
}

nav ul li a{
  text-decoration: none;
  margin-right: 80px;
  color: white;
  font-size: 18px;
  padding-top: 50px;
  display: none;
}

.nav_bar a:hover{
  color: cyan;
}

.nav_bar .current{
  color: #34f634;
  text-decoration: none;
}

.nav_bar .menu-btn{
   display: none;
}

 #app-name{
  width: 100px;
  position: absolute;
  left: 75px;
  font-size: 30px;
  top: 9px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  z-index: 1;        /*so that app-name acts as a link*/
}

.container {
  background:rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width:600px;
  margin:100px auto;
  border-radius: 4px;
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
  height:20px;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display:block;
  text-decoration:none;
  background:rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  height:40px;
  padding-top:10px;
  transition:.5s ease;
}

#su a{
  background-color: #307c68; 
  color: white;
}

#su a:hover{              
  background: #155544;
  color:white;
}  

h1 {
  text-align:center;
  color:white;
  font-weight: 200;
  margin:0 0 40px;
  padding-top: 30px;
}

label {
  position:absolute;
  left:13px;
  color:rgba(255, 255, 255, 0.5);
  font-size:22px;
  padding: 4px 0;
}

label.active {
  transform:translateY(40px);
  left:2px;
  font-size:14px;
}

label.active. {
  opacity:0;
}

label.highlight {
  color: white;
}

.field-wrap{
  font-size: 0;
}

input{
  font-size:22px;
  display:block;
  width:100%;
  padding: 0;
  background:none;
  background-image:none;
  border: 1px solid #a0b3b0;
  color:white;
  border-radius:0;
  resize: vertical;
  font-family: Times New Roman;
}

input:focus {
  outline:0;
  border-color:#1ab188;
}

.auth{
  margin: 0 auto;
  padding: 5px 10px;
  width: 96.3%;
}

.particulars{
  height: 33px;
  font-family: Times New Roman;
  padding-left: 1%;
}

.user-auth{
  width: 98.8%;
}

.user-budget{
  width: 98.8%;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row> div {
  float:left;
  width:48.8%;
  margin-right: 1.5%;
}


.top-row div:last-child { 
  margin:0;
}

#login.hidden{
  display: none;
}

.button {
  margin:0 auto;
  background: #307c68;
  color:white;
  font-size:20px;
}


.button-block {
  display: block;
  width:49.6%;
  height:40px;
  text-align:center;
  cursor:pointer;
  margin: 0 auto;
}


button:hover, button:focus {
  background: #155544;
}

@media only screen and (max-width: 1050px) {
  .nav_bar .menu-icon {
    display: block;
  }

  .nav_bar .menu-btn{
    display: block;
  }

  .nav_bar {
    background-color: #307c68;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    text-align: center;
    padding-left: 2%;
  }

  .nav_bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    width: 250px;
    text-align: center;
}

  .nav_bar ul li{
    display: block;
  }

  .nav_bar li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    color: #307c68;
    width: 100%;
  }

  .nav_bar li a:hover {
    background-color: #f4f4f4;
  }
   
  .nav_bar .current {
    display: block;
    font-size: 2em;
    padding: 0 20px;
    text-decoration: none;
  }

  .nav_bar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    float: right;
  }
  
   .nav_bar .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 24px 20px;
    position: relative;
    user-select: none;
    display: none;
  }

  .nav_bar .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  .nav_bar .menu-icon .navicon:before,
  .nav_bar .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .nav_bar .menu-icon .navicon:before {
    top: 5px;
  }

  .nav_bar .menu-icon .navicon:after {
    top: -5px;
  }
  .nav_bar .menu-btn {
    display: none;
  }

  .nav_bar .menu-btn:checked ~ .menu {
    max-height: 300px;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .nav_bar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
}

@media only screen and (max-width: 610px) {
  .auth{
    width: 94%;
  }
}

@media only screen and (max-width: 500px) {
  #signup-tab{
    font-size: 0;
    margin: 0;
    padding: 0;
  }

  .auth{
    width: 92%;
  }
}

@media only screen and (max-width: 400px) {
  #app-name{
    left: 15px;
  }
}

@media only screen and (max-width: 330px) {
  .nav_bar .menu-icon {
    padding: 24px 50px;
  }

  #app-name{
    left: 15px;
  }

  .nav_bar ul {
    width: 275px;
  }
}

/*@media only screen and (max-width: 400px) {
  .button-block {
    width: 49.8%;
  }
}*/
